extends ../framework
append style
  +stylesheet('/pen/pen.css')
  +stylesheet('/style/magnet/faqedit.css')
append script
  +javascript('/pen/pen.js')
  +javascript('/pen/markdown.js')
  +javascript('/script/magnet/faqedit.js')
append container
  form
    .row.control-group
      .col-sm-offset-1.col-sm-8.col-xs-10.col-lg-10.box.box-well
        .editor(data-toggle='pen')
        hr
        small.pull-right.view-status-text 最后保存于 5 秒前
      .col-sm-2.col-xs-2.col-lg-1
        .affix-top(data-spy="affix")
          .row
            .col-sm-12
              .btn-group-vertical
                button.btn.btn-default(type='submit')
                  span.glyphicon.glyphicon-save
                  span.hidden-xs &nbsp; 保存
                button.btn.btn-default#mode(type='button')
                  span.glyphicon.glyphicon-eye-close
                  span.glyphicon.glyphicon-eye-open
                  span.hidden-xs &nbsp; 模式
                button.btn.btn-default#hinted(type='button')
                  span.glyphicon.glyphicon-tint
                  span.hidden-xs &nbsp; 提示
    .row.control-group
      .col-sm-offset-1.col-sm-8.col-xs-10.col-lg-10
        p.pull-left
          | 在编辑器中输入文本, 然后选择文本即可编辑样式
        p.pull-right
          a(href='http://sofish.github.io/pen/', target='_blank') Pen
          | &nbsp; Markdown 在线文本编辑器

