
html, body
  font-family Tahoma, Helvetica, Arial, DejaVu Sans, sans-serif
  background #EEE
  height 100%

// Selection Area Style {{{

::selection
  background #FF5E99
  color #FFF
  text-shadow none

// }}}

// wrapper > (content, footer) page framework {{{

.wrapper
  position relative
  display table
  height 100%
  width 100%

.header-container, .footer-container
  display table-row
  height 1px

.footer
  background #333

.content-container
  display table-row

.footer-text
  display inline-block
  color #777
  padding 15px

// }}}

// navbar {{{

.navbar.navbar-fixed-top~.container
  margin-top 70px
  margin-bottom 20px

.navbar img.navbar-brand
  padding 0px
  margin-right 15px

// }}}

.fill-parent
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px

img
  max-width 100%

@import 'common/reset'
@import 'common/position'
@import 'common/box'
@import 'common/card'
@import 'common/dimension'

