
// Selection Area Style {{{

::selection
  background #FF5E99
  color #FFF
  text-shadow none

// }}}

// No border {{{

a:focus, :focus
  outline none !important

::-moz-focus-inner
  border 0 !important

input
  outline-style none !important

// }}}

html, body
  font-family Tahoma, Helvetica, Arial, DejaVu Sans, sans-serif
  background #EEE
  height 100%

// wrapper > (content, footer) page framework {{{

.wrapper
  position relative
  display table
  height 100%
  width 100%

.header-container, .footer-container
  display table-row
  height 1px

.footer
  height 60px
  background #333

.content-container
  display table-row

// }}}

