
// Selection Area Style {{{

::selection
  background #FF5E99
  color #FFF
  text-shadow none

// }}}

// No border {{{

a:focus, :focus
  outline none !important

::-moz-focus-inner
  border 0 !important

input
  outline-style none !important

// }}}

html, body
  font-family Tahoma, Helvetica, Arial, DejaVu Sans, sans-serif
  background #EEE
  height 100%

