
.view-description
  white-space pre
  font-size 16px
  line-height 1.5

.registry-item
  display inline-block
  position relative
  width 96px
  height 96px
  cursor pointer
  background-size cover
  background-repeat no-repeat
  background-image url('/img/default_photo.jpg')

  .registry-select
    font-size 20px
    opacity 0
    z-index 1

    span.glyphicon
      margin 6px
      padding 2px
      background white
      border-radius 50%

  &.selected .registry-select
    opacity 1

  .view-nickname-link
    display block
    background-color rgba(0,0,0,0.5)
    position absolute
    bottom 0
    left 0
    right 0
    padding 6px
    color white
    z-index 2


.member-item
  .view-review-text
    font-size 3em
    color darken(white, 15%)



