
.navbar-control

  .can-access
    display none

  &.admin
    .admin.can-access
      display block

  &.teacher
    .teacher.can-access
      display block

  &.student
    .student.can-access
      display block

  &.online
    .online.can-access
      display block

  &.offline
    .offline.can-access
      display block

