
.section-control

  .panel
    display none

  &.section-account
    .section-account
      display block

  &.section-profile
    .section-profile
      display block

  &.section-message
    .section-message
      display block

  &.section-privacy
    .section-privacy
      display block

