
.box
  position relative
  display block

.box.box-rounded
  border-radius 4px

.box.box-inline
  display inline-block

.box.box-default
  color black
  background-color white

.box.box-fullwidth
  width 100%

.box.box-colorful

  &::before
    content ''
    display block
    position absolute
    top 0
    left 0
    bottom 0
    width 5px
    background-color grey
    z-index 999

  &.box-colorful-top::before
    top 0
    left 0
    right 0
    bottom auto
    width auto
    height 5px

  &.box-colorful-right::before
    left auto
    right 0

  &.box-colorful-bottom::before
    top auto
    left 0
    right 0
    bottom 0
    width auto
    height 5px

  &.box-color-blue::before
    background-color blue

  &.box-color-green::before
    background-color green

  &.box-color-orange::before
    background-color orange

  &.box-color-red::before
    background-color red

.box.box-caption-text

  &::after
    content attr(data-box-caption)
    display block
    position absolute
    top 0
    right 0
    width auto
    height auto
    font-size 4em
    color grey
    opacity 0.3
    z-index 999

  .box-caption-padding
    display block
    height 4em

.box.box-default.box-hover

  &:hover
    background-color #FAFAFA


.box.box-clickable:hover
  cursor pointer

