
.box
  display block

.box.box-ribbon
  width 100%
  background white
  padding 30px 15px

.box.box-rounded
  background white
  padding 24px
  margin-bottom 20px
  border-radius 4px

.box.box-inline
  display inline-block

