
.padding-xs
  padding 6px

.padding-sm
  padding 12px

.padding-md
  padding 24px

.padding-lg
  padding 48px

.margin.margin-sm
  margin 12px
.margin.margin-md
  margin 24px
.margin.margin-lg
  margin 48px

.margin-bottom.margin-sm
  margin-bottom 12px
.margin-bottom.margin-md, .margin-bottom
  margin-bottom 24px
.margin-bottom.margin-lg
  margin-bottom 48px

.margin-right.margin-sm
  margin-right 12px
.margin-right.margin-md, .margin-right
  margin-right 24px
.margin-right.margin-lg
  margin-right 48px

