
// RESET bootstrap form label style

.form-horizontal label.control-label
  font-weight normal
  padding-top 9px
  padding-bottom 9px

// RESET accessibility outline

a:focus, :focus
  outline none !important

::-moz-focus-inner
  border 0 !important

input
  outline-style none !important

// RESET bootstrap glyphicon vertical positioning

i.glyphicon::before
  margin-right 0.25em
  vertical-align text-bottom

