extends framework
append style
  +stylesheet('/style/dashboard.css')
append script
  +javascript('/script/dashboard.js')
block container
  .row
    .col-md-12.view-profile
      .col-md-4.view-cover
        .fill-parent.darken.text-center.position-container.vertical-center-ib
          .view-profile-summary.vertical-center
            img.view-photo-img.img-circle
            h3.view-nickname
            .view-status 没有任何课程记录
      .col-md-8.col-md-offset-4
        .view-profile-detail
          h2 公告版
          p 本系统支持导师创建课题，只是现在由于不明外部原因业务暂停
          p 本系统支持课题分类管理，只是现在由于不明外部原因业务暂停
          p 本系统支持学员自主课题，只是现在由于不明外部原因业务暂停
          p 本系统支持课业发布回收，只是现在由于不明外部原因业务暂停
          p 本系统支持定制课题信息，只是现在由于不明外部原因业务暂停
          p 本系统支持师生课题双选，只是现在由于不明外部原因业务暂停
          p 本系统支持学员自主课题，只是现在由于不明外部原因业务暂停
          p 本系统支持对象访问控制，只是现在由于不明外部原因业务暂停
        .view-notification
          span.glyphicon.glyphicon-bell &nbsp;
          | 您有 25 条未读消息 -
          | “社区强迫症患者专项整治行动通告”、
          | “《治疗不能放弃》专题讲座”、
          | “2010级毕业设计论文提交已开放”

