extends framework
append head
  title 编辑 FAQ 文本 - 贰叁叁课程管理
append style
  +stylesheet('/pen/pen.css')
  +stylesheet('/style/faqedit.css')
append script
  +javascript('/pen/pen.js')
  +javascript('/pen/markdown.js')
  +javascript('/script/faqedit.js')
append container
  form
    .row.control-group
      .col-md-offset-1.col-md-10.box.box-default.box-rounded.padding-md.margin-bottom.margin-md
        .editor(data-toggle='pen')
        .btn-group.pull-right
          button.btn.btn-default#mode(type='button')
            span.mode-readonly
              span.glyphicon.glyphicon-eye-open
              span.hidden-xs &nbsp; 只读
            span.mode-editable
              span.glyphicon.glyphicon-pencil
              span.hidden-xs &nbsp; 编辑
          button.btn.btn-default#hinted.off(type='button')
            span.glyphicon.glyphicon-tint
            span.hidden-xs.hint-on &nbsp; 代码(开)
            span.hidden-xs.hint-off &nbsp; 代码(关)
          button.btn.btn-default(type='submit')
            span.glyphicon.glyphicon-save
            span.hidden-xs &nbsp; 保存
        hr
        small.view-status-text 最后保存于 5 秒前
    .row.control-group
      .col-md-offset-1.col-md-10
        p.pull-left
          | 在编辑器中输入文本, 然后选择文本即可编辑样式
        p.pull-right
          a(href='http://sofish.github.io/pen/', target='_blank') Pen
          | &nbsp; Markdown 在线文本编辑器

