doctype html
include utility
html
  head
    block head
      block meta
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      block favicon
      block style
        +stylesheet('style/bootstrap.min.css')
        +stylesheet('style/bootstrap-theme.min.css')
        +stylesheet('style/datepicker3.css')
  body
    block content
    block script
      +javascript('script/jquery.min.js')
      +javascript('script/lodash.min.js')
      +javascript('script/bootstrap.min.js')
      +javascript('script/bootstrap-datepicker.js')
      +javascript('script/common.js')
      +javascript('script/entangle.js')
