doctype html
include utility
html
  head
    block head
      block meta
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      block favicon
      block style
        +stylesheet('/style/bootstrap.min.css')
        +stylesheet('/style/jasny-bootstrap.min.css')
        +stylesheet('/style/datepicker3.css')
        +stylesheet('/style/common.css')
  body
    .wrapper
      .content-container.position-container.vertical-center-ib
        .navbar.navbar-default.navbar-fixed-top
          .container
            include navbar
        block content
          .container
            block container
      .footer-container
        .footer
          .container
            .footer-text.pull-left InTern (Next Generation) Course Automation System
            .footer-text.pull-right Copyright &copy; #{ new Date().getFullYear() } Kirisetz
    block script
      +javascript('/script/jquery.min.js')
      +javascript('/script/jquery.qs.js')
      +javascript('/script/lodash.min.js')
      +javascript('/script/bootstrap.min.js')
      +javascript('/script/jasny-bootstrap.min.js')
      +javascript('/script/bootstrap-datepicker.js')
      +javascript('/script/md5.min.js')
      +javascript('/script/common.js')
      +javascript('/script/entangle.js')
      +javascript('/script/entangle.core.js')
      +javascript('/script/entangle.jquery.js')
      +javascript('/script/entangle.ui.js')
      +javascript('/script/entangle.io.js')
      +javascript('/script/entangle.set.js')
      +javascript('/script/entangle.templating.js')
      +javascript('/script/entangle.util.js')
      +javascript('/script/entangle.app.js')
      +javascript('/script/entangle.debug.js')
      +javascript('/script/app.js')
      +javascript('/script/stub.js')
      +javascript('/script/pilot.js')
