extends framework
append head
  title 贰叁叁課程管理服務
append favicon
append style
  +stylesheet('/style/common.css')
append script
  +javascript('/script/main.js')
append content
  center
    h1 絕贊建設中 ヾ(❀╹◡╹)ﾉﾞ
