
.navbar-header

  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    span.icon-bar
    span.icon-bar
    span.icon-bar

  img.navbar-brand(src='/img/logo/50.png')

.navbar-collapse.collapse

  ul.nav.navbar-nav.navbar-left.hidden(data-visibic='online')
    li: a(href='/dashboard.html')
      i.glyphicon.glyphicon-home
      | 主页
    li.hidden(data-visibic='student'): a(href='#')
      i.glyphicon.glyphicon-time
      | 课程记录
    li.hidden(data-visibic='student'): a(href='/registry.html')
      i.glyphicon.glyphicon-bookmark
      | 新课程
    li.hidden(data-visibic='admin teacher'): a(href='/course.html')
      i.glyphicon.glyphicon-tree-deciduous
      | 课程管理
    li.hidden: a(href='#')
      i.glyphicon.glyphicon-th-list
      | 表单管理
    li.hidden(data-visibic='admin').dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        i.glyphicon.glyphicon-magnet
        | 系统维护
        | &nbsp;
        b.caret
      ul.dropdown-menu
        li: a(href='/account.html') 用户账户
        li: a(href='/faqedit.html') FAQ编辑
        li.hidden: a(href='/backup.html') 备份/恢复

  ul.nav.navbar-nav.navbar-right
    li.hidden(data-visibic='online'): a(href='/message.html')
      i.glyphicon.glyphicon-envelope
      span.hidden-lg.hidden-md.hidden-sm 站内信
    li.hidden(data-visibic='online').dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        i.glyphicon.glyphicon-user
        span.data-holder.data-profile-name
        | &nbsp;
        b.caret
      ul.dropdown-menu
        li: a(href='/setting.html#profile') 个人资料
        li.divider
        li: a(href='/setting.html#help') 常见问题
        li: a(href='/setting.html#account') 设置
    li.hidden(data-visibic='offline'): a(href='/signin.html')
      i.glyphicon.glyphicon-user
      | 登录

