extends workspace
append style
  +stylesheet('/style/setting.css')
append content
  .row
    .col-md-offset-1.col-md-3
      .list-group
        a.list-group-item(href='#account')
          span.glyphicon.glyphicon-star
          | &nbsp; 账户信息
        a.list-group-item(href='#profile')
          span.glyphicon.glyphicon-user
          | &nbsp; 个人资料
        a.list-group-item(href='#message')
          span.glyphicon.glyphicon-bell
          | &nbsp; 消息与提醒
        a.list-group-item(href='#privacy')
          span.glyphicon.glyphicon-lock
          | &nbsp; 隐私保护
        a.list-group-item(href='#signout')
          span.glyphicon.glyphicon-log-out
          | &nbsp; 退出登录
    .col-md-7
      .section-account.panel.panel-default
        .panel-heading 用户信息
        .panel-body
          form.form-horizontal
            .form-group
              label.col-md-3.control-label 用户名
              .col-md-5
                input.form-control(type='text', name='username', disabled)
            .form-group
              label.col-md-3.control-label 邮箱地址
              .col-md-5
                input.form-control(type='email', name='email')
              .col-md-offset-3.col-md-9
                span.help-block
                  | 此邮箱地址为不公开邮箱, 仅用于密码找回
                  br
                  | 请进入
                  a(href='#profile') 个人资料页
                  | 管理您的联系方式, 或
                  a(href='#message') 消息/提醒页
                  | 设置用于接收消息与提醒的电子邮件地址
            .form-group
              .col-md-offset-3.col-md-9
                button.btn.btn-default(type='submit') 保存
      .section-account.panel.panel-default
        .panel-heading 密码变更
        .panel-body
          form.form-horizontal
            .form-group
              label.col-md-3.control-label 原密码
              .col-md-5
                input.form-control(type='password', name='password')
            .form-group
              label.col-md-3.control-label 新密码
              .col-md-5
                input.form-control(type='password', name='password')
            .form-group
              label.col-md-3.control-label 重新输入
              .col-md-5
                input.form-control(type='password', name='password')
              .col-md-offset-3.col-md-9
                span.help-block
                  | 请您再次输入确认本账户的新密码
            .form-group
              .col-md-offset-3.col-md-9
                button.btn.btn-default(type='submit') 更改
      .section-profile.panel.panel-default
        .panel-heading 头像与封面
        .panel-body
          form.form-horizontal
            .form-group
              label.col-md-3.control-label 头像
              .col-md-5
                input.form-control(type='text', name='avatar_url')
            .form-group
              label.col-md-3.control-label 封面图片
              .col-md-5
                input.form-control(type='text', name='cover_url')
      .section-profile.panel.panel-default
        .panel-heading 个人资料
        .panel-body
          form.form-horizontal
            .form-group
              label.col-md-3.control-label 姓名
              .col-md-5
                input.form-control(type='text', name='fullname', disabled)
            .form-group
              label.col-md-3.control-label 编号
              .col-md-5
                input.form-control(type='text', name='idnumber', disabled)
            .form-group
              label.col-md-3.control-label 电子邮箱
              .col-md-5
                input.form-control(type='email', name='email')
            .form-group
              label.col-md-3.control-label 联系电话
              .col-md-5
                input.form-control(type='text', name='telephone')
      .section-profile.panel.panel-default
        .panel-heading 个人介绍
        .panel-body
          form
            .form-group
              textarea.form-control(rows=5)
            .form-group
              button.btn.btn-default.pull-right(type='submit') 保存
      .section-message.panel.panel-default
        .panel-heading 系统消息
        .panel-body
      .section-message.panel.panel-default
        .panel-heading 邮件提醒/订阅
        .panel-body
          form.form-horizontal
            .form-group
              label.col-md-3.control-label 电子邮箱
              .col-md-8
                .input-group
                  span.input-group-btn
                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | 不使用
                      | &nbsp;
                      span.caret
                    ul.dropdown-menu
                      li: a(href='#') 自定义
                      li: a(href='#') 使用联系方式
                      li: a(href='#') 使用账户邮箱
                      li: a(href='#') 不使用
                  input.form-control(type='email', name='email')
              .col-md-offset-3.col-md-9
                span.help-block
                  将此处电子邮箱留空, 系统会自动取消所有订阅/通知的发送
            .form-group
              label.col-md-3.control-label 事件
              .col-md-9
                button.btn.btn-default(type='button') 全选
                button.btn.btn-default(type='button') 取消全部
            .form-group
              .col-md-offset-3.col-md-8
                .list-group
                  a.list-group-item(href='#') 发现新课程类目
                  a.list-group-item(href='#') 发现新的选课申请
                .list-group
                  a.list-group-item(href='#') 开设新的课程类目
                  a.list-group-item(href='#') 课程参与邀请
                  a.list-group-item(href='#') 选课申请成功/失败
                  a.list-group-item(href='#') 自主课题申请审核通过
                  a.list-group-item(href='#') 未完成的课程任务(提前一周)
                  a.list-group-item(href='#') 未完成的课程任务(提前两日)
                  a.list-group-item(href='#') 获得课程任务评价
                  a.list-group-item(href='#') 获得课程评分
                .list-group
                  a.list-group-item(href='#') 每周课题精选
      .section-privacy.panel.panel-default
        .panel-heading 安全性
        .panel-body
          form.form-horizontal
            .form-group
              label.col-md-3.control-label 自动登录
              .col-md-9
                .btn-group
                  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                    | 启用
                    | &nbsp;
                    span.caret
                  ul.dropdown-menu
                    li: a(href='#') 启用
                    li: a(href='#') 禁止
      .section-privacy.panel.panel-default
        .panel-heading 隐私内容
        .panel-body
          form.form-horizontal
            .form-group
              label.col-md-3.control-label 电子邮件
              .col-md-9
                .btn-group
                  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                    | 对所有人公开
                    | &nbsp;
                    span.caret
                  ul.dropdown-menu
                    li: a(href='#') 对所有人公开
                    li: a(href='#') 登录用户可见
                    li: a(href='#') 所有导师可见
                    li: a(href='#') 不可见
            .form-group
              label.col-md-3.control-label 联系电话
              .col-md-9
                .btn-group
                  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                    | 对所有人公开
                    | &nbsp;
                    span.caret
                  ul.dropdown-menu
                    li: a(href='#') 对所有人公开
                    li: a(href='#') 登录用户可见
                    li: a(href='#') 所有导师可见
                    li: a(href='#') 不可见
            .form-group
              label.col-md-3.control-label 个人简介
              .col-md-9
                .btn-group
                  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                    | 对所有人公开
                    | &nbsp;
                    span.caret
                  ul.dropdown-menu
                    li: a(href='#') 对所有人公开
                    li: a(href='#') 登录用户可见
                    li: a(href='#') 所有导师可见
                    li: a(href='#') 不可见
