extends workspace
append style
  +stylesheet('/style/setting.css')
append script
  +javascript('/script/setting.js')
append content
  .row
    .col-md-offset-1.col-md-3
      .list-group.navlist
        a.list-group-item(href='#account')
          i.glyphicon.glyphicon-star
          | 账户信息
        a.list-group-item(href='#profile')
          i.glyphicon.glyphicon-user
          | 个人资料
        a.list-group-item(href='#message')
          i.glyphicon.glyphicon-bell
          | 消息与提醒
        a.list-group-item(href='#privacy')
          i.glyphicon.glyphicon-lock
          | 隐私保护
      .list-group.navlist
        a.list-group-item(href='#feedback')
          i.glyphicon.glyphicon-send
          | 意见反馈
        a.list-group-item(href='#help')
          i.glyphicon.glyphicon-question-sign
          | 常见问题
    .col-md-7.panel-control
      include setting.account.jade
      include setting.profile.jade
      include setting.message.jade
      include setting.privacy.jade
      include setting.feedback.jade
      include setting.help.jade

