
.panel.panel-default(data-visibic='privacy')
  .panel-heading 安全性
  .panel-body
    form.form-horizontal
      .form-group
        label.col-xs-6.col-md-3.control-label 自动登录
        .col-xs-6.col-md-9
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | 启用
              | &nbsp;
              span.caret
            ul.dropdown-menu
              li: a(href='#') 启用
              li: a(href='#') 禁止

.panel.panel-default(data-visibic='privacy')
  .panel-heading 隐私内容
  .panel-body
    form.form-horizontal
      .form-group
        label.col-xs-6.col-md-3.control-label 电子邮箱
        .col-xs-6.col-md-9
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | 对所有人公开
              | &nbsp;
              span.caret
            ul.dropdown-menu
              li: a(href='#') 对所有人公开
              li: a(href='#') 登录用户可见
              li: a(href='#') 所有导师可见
              li: a(href='#') 不可见
      .form-group
        label.col-xs-6.col-md-3.control-label 联系电话
        .col-xs-6.col-md-9
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | 对所有人公开
              | &nbsp;
              span.caret
            ul.dropdown-menu
              li: a(href='#') 对所有人公开
              li: a(href='#') 登录用户可见
              li: a(href='#') 所有导师可见
              li: a(href='#') 不可见
      .form-group
        label.col-xs-6.col-md-3.control-label 个人简介
        .col-xs-6.col-md-9
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | 对所有人公开
              | &nbsp;
              span.caret
            ul.dropdown-menu
              li: a(href='#') 对所有人公开
              li: a(href='#') 登录用户可见
              li: a(href='#') 所有导师可见
              li: a(href='#') 不可见

