extends framework
append head
  title 贰叁叁课程管理 - 用户登录
append favicon
append style
  +stylesheet('/style/signin.css')
append script
  +javascript('/script/signin.js')
append content-container
  .v-center.ribbon.box
    form.signin
      .form-group
        input.form-control(type='text', name='username', placeholder='用户名')
      .form-group
        input.form-control(type='password', name='password', placeholder='密码')
      .form-group
        button.btn.btn-default.pull-right(type='submit') 登录


