extends framework
append head
  title 登录 - 贰叁叁课程管理
append style
  +stylesheet('/style/signin.css')
append script
  +javascript('/script/signin.js')
block content
  .vertical-center.box.box-fullwidth
    form.box.box-default.box-rounded.padding-md.position.horizontal-center.signin(method='get', action='/dashboard.html')
      input(type='hidden', name='u', value='0')
      .form-group
        input.form-control(type='text', name='username', placeholder='用户名')
      .form-group
        input.form-control(type='password', name='password', placeholder='密码')
      button.btn.btn-default.btn-block(type='submit') 登录
