mixin stylesheet(path)
  link(type="text/css", rel="stylesheet", href=path)

mixin javascript(path)
  script(type="text/javascript", src=path)

mixin jstemplate(a)
  script(id=a, type="text/template")
    block

