extends framework
append head
  title 贰叁叁课程管理
append favicon
append style
append script
append content-container
  .navbar.navbar-default.navbar-fixed-top
    .container
      block navbar
  .container
    block content
