
.editor.hinted
  margin-left 56px

.editor
  min-height 120px

#mode

  .mode-editable
    display inline-block
  .mode-readonly
    display none

  &.off
    .mode-editable
      display none
    .mode-readonly
      display inline-block

#hinted

  .hint-off
    display none
  .hint-on
    display inline-block

  &.off
    .hint-off
      display inline-block
    .hint-on
      display none



