
.editor.hinted
  margin-left 56px

.editor
  min-height 120px

#mode

  .glyphicon-eye-close
    display inline-block
  .glyphicon-eye-open
    display none

  &.off
    .glyphicon-eye-close
      display none
    .glyphicon-eye-open
      display inline-block


